<!DOCTYPE html>
<html>
<head>
    <title>Courses</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="topbar">
    <span>Welcome: <%= session.user %></span>
    <a href="/logout">Logout</a>
</div>

<h2>All Courses</h2>

<a href="/course/new">Add New Course</a>

<div class="course-container">
    <% courses.forEach(course => { %>
        <div class="card">
            <img src="<%= course.image %>" width="150">
            <h3><%= course.courseName %></h3>
            <p>Price: ₹<%= course.price %></p>
            <p>Duration: <%= course.duration %></p>
            <p>Start: <%= course.courseStartDate.toDateString() %></p>

            <a href="/courses/<%= course._id %>/edit">Edit</a>
            <a href="/courses/<%= course._id %>/delete">Delete</a>
        </div>
    <% }) %>
</div>

</body>
</html>